################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/TeaMan/.vs
/TeaMan/TeaMan/bin/
/TeaMan/TeaMan/obj/
/TeaMan/TeaMan.Tests/obj
/TeaMan/TeaMan.Tests/bin/Debug/netcoreapp3.1
